foursquare/src/main/app/foursquare.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:https="http://www.mulesoft.org/schema/mule/https" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:ajax="http://www.mulesoft.org/schema/mule/ajax" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ajax http://www.mulesoft.org/schema/mule/ajax/current/mule-ajax.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/https http://www.mulesoft.org/schema/mule/https/current/mule-https.xsd">
    <ajax:connector name="Ajax" serverUrl="http://127.0.0.1:8090/foursquare" resourceBase="docroot" jsonCommented="true" doc:name="Ajax"/>
    <flow name="foursquareFlow1" doc:name="foursquareFlow1">
        <ajax:inbound-endpoint channel="/services/echo" responseTimeout="10000" connector-ref="Ajax" doc:name="Ajax"/>
        <set-variable variableName="lng" value="#[message.payload['lng']]" doc:name="Variable"/>
        <set-variable variableName="lat" value="#[message.payload['lat']]" doc:name="Variable"/>
        <set-variable variableName="phrase" value="#[message.payload['phrase']]" doc:name="Variable"/>
        <logger message="latitude=#[lat], longitude=#[lng], phrase=#[phrase]" level="INFO" doc:name="Logger"/>
        <https:outbound-endpoint exchange-pattern="request-response" host="api.foursquare.com" port="443" path="v2/venues/explore?ll=#[lat],#[lng]&amp;oauth_token=RW4ELL4UT0Q03PKLA24VB1HTBSNTJUYYTEUG2XWZ2PIZXQ0D&amp;v=20140226&amp;query=#[phrase]" method="GET" doc:name="HTTP"/>
        <echo-component doc:name="Echo"/>
    </flow>
</mule>
